<!DOCTYPE html>
<html lang="pt-AO">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello</title>
</head>

<body>
  <section class="container">
    <span>
      <%= csrfToken %>
    </span>
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button>Submit</button>
    </form>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>